language = "python3"
#run = "python -i Lessons/Section_01/Activity_1.py"
#run = "python -i Lessons/Section_01/Activity_2.py"
#run = "python -i Lessons/Section_01/Exercise_01.py"
#run = "python -i Lessons/Section_01/Exercise_02.py"
#run = "python -i Lessons/Section_01/Exercise_03.py"
#run = "python -i Lessons/Section_01/Exercise_04.py"
#run = "python -i Lessons/Section_01/Exercise_05.py"
#run = "python -i Lessons/Section_01/Exercise_06.py"
#run = "python -i Lessons/Section_01/Exercise_07.py"
#run = "python -i Lessons/Section_01/Exercise_08.py"
#run = "python -i Lessons/Section_01/Exercise_09.py"
#run = "python -i Lessons/Section_01/Exercise_10.py"
#run = "python -i Lessons/Section_01/Exercise_11.py"
#run = "python -i Lessons/Section_01/Exercise_11.py"
#run = "python -i Lessons/Section_01/Exercise_12.py"
#run = "python -i Lessons/Section_01/Activity_3.py"
run = "python -i Lessons/Section_01/Exercise_13.py"