language = "python3"
#run = "python -i Lessons/Section_01/Activity_1.py"
#run = "python -i Lessons/Section_01/Activity_2.py"
#run = "python -i Lessons/Section_01/Exercise_1.py"
#run = "python -i Lessons/Section_01/Exercise_2.py"
#run = "python -i Lessons/Section_01/Exercise_3.py"
#run = "python -i Lessons/Section_01/Exercise_4.py"
#run = "python -i Lessons/Section_01/Exercise_5.py"
#run = "python -i Lessons/Section_01/Exercise_6.py"
#run = "python -i Lessons/Section_01/Exercise_7.py"
run = "python -i Lessons/Section_01/Exercise_8.py"