language = "python3"

# SECTION 1
#run = "python -i Lessons/Section_01/Activity_1.py"
#run = "python -i Lessons/Section_01/Activity_2.py"
#run = "python -i Lessons/Section_01/Exercise_01.py"
#run = "python -i Lessons/Section_01/Exercise_02.py"
#run = "python -i Lessons/Section_01/Exercise_03.py"
#run = "python -i Lessons/Section_01/Exercise_04.py"
#run = "python -i Lessons/Section_01/Exercise_05.py"
#run = "python -i Lessons/Section_01/Exercise_06.py"
#run = "python -i Lessons/Section_01/Exercise_07.py"
#run = "python -i Lessons/Section_01/Exercise_08.py"
#run = "python -i Lessons/Section_01/Exercise_09.py"
#run = "python -i Lessons/Section_01/Exercise_10.py"
#run = "python -i Lessons/Section_01/Exercise_11.py"
#run = "python -i Lessons/Section_01/Exercise_11.py"
#run = "python -i Lessons/Section_01/Exercise_12.py"
#run = "python -i Lessons/Section_01/Activity_3.py"
#run = "python -i Lessons/Section_01/Exercise_13.py"
#run = "python -i Lessons/Section_01/Exercise_14.py"
#run = "python -i Lessons/Section_01/Exercise_15.py"
#run = "python -i Lessons/Section_01/Exercise_16.py"
#run = "python -i Lessons/Section_01/Exercise_17.py"
#run = "python -i Lessons/Section_01/Activity_4.py"
#run = "python -i Lessons/Section_01/Exercise_18.py"
#run = "python -i Lessons/Section_01/Exercise_19.py"
#run = "python -i Lessons/Section_01/Exercise_20.py"
#run = "python -i Lessons/Section_01/Activity_5.py"

# SECTION 2
#run = "python -i Lessons/Section_02/Exercise_21.py"
#run = "python -i Lessons/Section_02/Exercise_22.py"
#run = "python -i Lessons/Section_02/Activity_6.py"
#run = "python -i Lessons/Section_02/Exercise_23.py"
#run = "python -i Lessons/Section_02/Exercise_24.py"
#run = "python -i Lessons/Section_02/Exercise_25.py"
#run = "python -i Lessons/Section_02/Exercise_26.py"
#run = "python -i Lessons/Section_02/Exercise_27.py"
#run = "python -i Lessons/Section_02/Exercise_28.py"
#run = "python -i Lessons/Section_02/Activity_7.py"
#run = "python -i Lessons/Section_02/Exercise_29.py"
#run = "python -i Lessons/Section_02/Exercise_30.py"
#run = "python -i Lessons/Section_02/Exercise_31.py"
#run = "python -i Lessons/Section_02/Exercise_32.py"
#run = "python -i Lessons/Section_02/Exercise_33.py"

# SECTION 3
run = "python -i Lessons/Section_03/Exercise_34.py"